* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navigation-bar {
  background-color: black;
}

.navigation-bar ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 10px;
}

.navigation-bar ul a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.hero {
  border: 0.5px solid black;
  background-color: rgb(165, 228, 227);
  text-align: center;
}
.hero-div h1 {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}
.hero-div p {
  justify-content: center;
}

.hero img {
  width: 50%;
  height: 200px;
  object-fit: cover;
  padding: 30px;
  border-radius: 40px;
}

.main {
  gap: 40;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;

  justify-content: space-around;
  gap: 40;
}

.card {
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 4px 8px gray;
  border: 3px solid black;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  text-align: center;
  padding: 10px;
}

.footer {
  background-color: burlywood;
}
.footer ul {
  display: flex;
  color: white;
  list-style: none;
  justify-content: space-around;
  padding: 10px;
}
.footer ul a {
  cursor: pointer;
}
